/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

.backgroundauth {
  background-image: url("../image/zzzzz.jpg");
  background-size: 100% 100vh; /* Set background-size to 100% for width and 100vh for height */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100vh; /* Set height to 100vh to cover the entire viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Additional styles for better readability and aesthetics */
.backgroundauth h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.backgroundauth p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.backgroundauth button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1890ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.backgroundauth button:hover {
  background-color: #007bff;
}
/* styles.css */



.main-container {
  position: relative;
}

.mySwiper {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* You can add more styling for individual slides here */
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 18px;
}

/* Customize the navigation buttons as needed */
